/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.key
*.tgz
mkmf.log
/config/.DS_Store
/.idea/
*.log
.DS_Store
serverlog
/vendor/bundle/
error.out
/backups/
