/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.key
*.tgz
*.keep
/lib/assets/*.keep
/lib/tasks/*.keep
/test/mailers/*.keep
/test/integration/*.keep
/test/fixtures/*.keep
/vendor/assets/javascripts/*.keep
/vendor/assets/stylesheets/*.keep
/app/models/concerns/*.keep
/app/models/*.keep
/app/mailers/*.keep
/app/assets/images/*.keep
/app/controllers/concerns/*.keep
mkmf.log
/config/.DS_Store
/.idea/
*.log
.DS_Store
serverlog
/vendor/bundle/
error.out
/backups/
